<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap"
          rel="stylesheet" />
    <title>Create an Account</title>
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        body {
            font-family: "Poppins", sans-serif;
            overflow: hidden;
        }

        .containers {
            display: flex;
        }

        .image {
            display: flex;
            margin-top: 25%;
            height: 65vh;
        }

        .right-container h2 {
            padding-top: 45%;
            margin: 15px 0;
            color: #333;
            text-transform: uppercase;
            font-size: 2.5rem;
        }

        .name {
            font-family: "Poppins", sans-serif;
            width: 255px;
            margin-bottom: -5px;
            padding: 10px 10px 10px 0px;
        }

        .contact {
            font-family: "Poppins", sans-serif;
            width: 255px;
            padding: 10px 10px 10px 0px;
        }

        .email {
            font-family: "Poppins", sans-serif;
            width: 255px;
            padding: 10px 10px 10px 0px;
        }

        .people {
            font-family: "Poppins", sans-serif;
            width: 255px;
            padding: 10px 10px 10px 0px;
        }

        .time {
            font-family: "Poppins", sans-serif;
            width: 255px;
            padding: 10px 10px 10px 0px;
        }

        .message {
            font-family: "Poppins", sans-serif;
            width: 255px;
            padding: 10px 10px 10px 0px;
        }

        .form-control {
            font-family: "Poppins", sans-serif;
            width: 255px;
            padding: 10px 10px 10px 0px;
        }

        form {
            padding-left: 130px;
        }

        button {
            display: block;
            width: 100%;
            height: 50px;
            border-radius: 25px;
            outline: none;
            border: none;
            background-image: linear-gradient(to right, #4c4c78, #4c4c78, #4c4c78);
            background-size: 200%;
            font-size: 1.2rem;
            color: #fff;
            font-family: "Poppins", sans-serif;
            text-transform: uppercase;
            margin: 1rem 0;
            cursor: pointer;
            transition: 0.5s;
        }

            button:hover {
                background-position: right;
                box-shadow: 0 0 10px rgba(0, 0, 0, 2);
            }
    </style>
</head>




<div class="containers">
    <div class="left-container">
        <img class="image" src="../images/reservation.png" alt="reservation" />
    </div>
    <div class="right-container">
        <form action="reservation.html">
            <h2>Create An Account</h2>
            <div class="name">
                <input type="text" class="name" placeholder="First Name" />
            </div>
            <div class="name">
                <input type="text" class="name" placeholder="Last Name" />
            </div>
            <div class="contact">
                <input type="text" class="contact" placeholder="Contact No" />
            </div>
            <div class="Email">
                <input type="text" class="email" placeholder="Email" />
            </div>

            <div class="name">
                <input type="password" class="email" placeholder="password" />
            </div>

            <button class="submit" type="submit">Sign Up</button>

    </div>

    </form>
</div>
